
    <div class="container">

      <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">sign in now</h2>
        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="Email" autofocus name="username">
            <input type="password" class="form-control" placeholder="Password" name="password">
            <!--
            <label class="checkbox">
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Forgot Password?</a>
                </span>
            </label>
            -->
            <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
            <div class="registration">
                Don't have an account yet?
                <a class="" href="/register">
                    Create an account
                </a>
            </div>

        </div>
      </form>

    </div>
